/* @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:wght@500&display=swap'); */
@import "tailwindcss";



:root {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-weight: 500;

   /* color-scheme: light dark;
 color: rgba(255, 255, 255, 0.87); */
  background-color:  #FAFBEF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --Grün-0:  #C7F7E1;
  --Grün-25:  #6FE79F;
  --Grün-50:  #0FDA86;
  --Grün-100:  #062317;

  --Blau-0:  #D3F5FE;
  --Blau-25:  #46CAFF;
  --Blau-50:  #0084E0;
  --Blau-100:  #002138;

  --Rot-0:  #FFD9D4;
  --Rot-25:  #FF7A8E;
  --Rot-50:  #FF2242;
  --Rot-100:  #400911;

  --Gelb-0:  #FFECB4;
  --Gelb-25:  #FFD979;
  --Gelb-50:  #FFBE23;
  --Gelb-100:  #2D2002;

  --Violett-0:  #DDD6F1;
  --Violett-25:  #6F47BA;
  --Violett-50:  #390363;
  --Violett-100:  #1B062C;

  --white: #fff;
  --white-50: #D3D3D3;
  --black: black;
  ---black-50: #4B4B4B;
  --nav-bg: #fefefc;


}

nav {
  background-color: rgba(#fff, 0.8);
  padding: 11px 18px;
  border-radius: 40px;
}
nav a {
  display: flex;
  color: var(--black);
  background-color: transparent;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 40px;
  font-size: 16px;
  padding: 11px 18px;
  font-weight: 500;
  line-height: 110%;
}

.stat-active {
  background-color: var(--black);
  color: white;
}

body {
  margin: 0;
  box-sizing: border-box;
  cursor: url("./components/icons/arrow-cursor.svg"), auto;

}

a:hover, button:hover {
  cursor: url("./components/icons/hand-cusor.svg"), auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 110%;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 45px;
}

h4 {
  font-size: 35px;
}

p {
  font-size: 25px;
  line-height: 140%;
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 40px;
  padding: 11px 18px;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.pill.active {
  background-color: black;
  color: var(--blau-25);
}

section {
  min-height: 100vh;
  padding: 2.5%;
}
.green {
  background: linear-gradient(180deg, #FAFBEF 0%, #6FE79F 33%);

}

.green-end {
  /* background: linear-gradient(180deg,  #6FE79F 95.4%), #FAFBEF 59.44%,; */
  background: linear-gradient(0deg, #FAFBEF 59.44%, #6FE79F 95.4%);

}
.yellow {
  background: linear-gradient(180deg, #FAFBEF 0%, #FFECB4 33%);

}
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 26px;
  }
  
  h3 {
    font-size: 22px;
  }

  p {
    font-size: 18px;
  }
  
}